# dependencies
node_modules/

# builds
dist/
build/
coverage/

# env
.env
.env.*
!.env.example

# logs
*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# prisma/local db (si aplica)
*.db
*.db-journal